.text-inside-grid {
    position: absolute;
    left: 5px;
  }

  table {
    width: 100%;
  }

  mat-divider{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  mat-grid-list {
    margin-top: 10px;
  }

  span {
    margin-left: 20px;
  }
  h2 {
    align-items: center;
  }
 .header {
  margin-top: 20px;
 }