span {
  color: cornflowerblue;
}

.titulo {
  font-size: 550%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 0%;
  color: cornflowerblue;
}
.note {
  margin-top: 0%;
  margin-bottom: 10px;
  color: cornflowerblue;
  font-weight: 200;
}