.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 40%;
}

table {
  width: 100%;
}
button {
  margin-right: 20px;
}
.buttonsearch{
  margin-left: 20px;
}
button.mat-raised-button:hover{
  background-color: rgb(63,81,181);
  color: aliceblue;
  };