<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      
      <mat-card-content>
            
        <h1 class="titulo">SiGeID</h1>
        <h3 class="note">Sistema de Gestión de Informes de Desempeño</h3>
        <mat-divider></mat-divider>

        <h3 >Bienvenido {{usuario}} <span>   {{nombreUsuario}}  </span></h3>
       
       
      
         
        
        
    

   
      
      </mat-card-content>

    </mat-card>

  </div>
</div>