<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Usuarios</h2>

        <button  mat-raised-button  >
        
          Alumnos
        </button>
        <button  mat-raised-button (click)="irAprofesores()" >
        
          Profesores
        </button>
        <button  mat-raised-button (click)="irAadministradores()" >
         
          Administradores
        </button>
        

      </mat-card-content>
    </mat-card>

    

  </div>
</div>